<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Entropia_ETH_Miner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="Entoipia_ETH_Miner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <Entropia_ETH_Miner.Properties.Settings>
            <setting name="ProgName1" serializeAs="String">
                <value>BitCoin GOLD</value>
            </setting>
            <setting name="ProgLink1" serializeAs="String">
                <value>BTG\ZecMiner64.exe</value>
            </setting>
            <setting name="SrvName1" serializeAs="String">
                <value>eu.pool.gold:3044</value>
            </setting>
            <setting name="Wallet" serializeAs="String">
                <value>146Ny6SoMVoSQtuKy61nzTEYrWRnP3MgNi</value>
            </setting>
            <setting name="Rig" serializeAs="String">
                <value>Kestukas1</value>
            </setting>
            <setting name="GPU_FORCE_64BIT_PTR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GPU_MAX_HEAP_SIZE" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="GPU_USE_SYNC_OBJECTS" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GPU_MAX_ALLOC_PERCENT" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="GPU_SINGLE_ALLOC_PERCENT" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Idle_time" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RunIdle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SilentStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KillMiner" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>Dual</value>
            </setting>
            <setting name="tt" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="FanMin" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="FanMax" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="IfFanMin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IfFanMax" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="iftt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ifnofee" serializeAs="String">
                <value>False</value>
            </setting>
        </Entropia_ETH_Miner.Properties.Settings>
        <Entoipia_ETH_Miner.Properties.Settings>
            <setting name="ProgName1" serializeAs="String">
                <value>Claymore's Dual Ethereum</value>
            </setting>
            <setting name="ProgLink1" serializeAs="String">
                <value>\Claymore\EthDcrMiner64.exe</value>
            </setting>
            <setting name="SrvName1" serializeAs="String">
                <value>eu1.ethermine.org:4444</value>
            </setting>
            <setting name="Wallet" serializeAs="String">
                <value>0x635bA9BE0414B1Dbd13356c3b60B662C4Cbb02FB</value>
            </setting>
            <setting name="Rig" serializeAs="String">
                <value>Kestukas1</value>
            </setting>
            <setting name="GPU_FORCE_64BIT_PTR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GPU_MAX_HEAP_SIZE" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="GPU_USE_SYNC_OBJECTS" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GPU_MAX_ALLOC_PERCENT" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="GPU_SINGLE_ALLOC_PERCENT" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Idle_time" serializeAs="String">
                <value>10</value>
            </setting>
        </Entoipia_ETH_Miner.Properties.Settings>
    </userSettings>
</configuration>
